#containerPaginaConta {
    width: 100%;
    min-height: 100vh;
    max-height: fit-content;

    padding: 20px;
}

#boxBoasVindaPaginaConta {
    display: flex;

    width: 100%;
    height: fit-content;

    margin-top: 1.5em;

    justify-content: center;
    align-items: center;
}

#tituloStylePaginaConta {
    color: white;

    font-size: 23px;
    text-align: center;
    letter-spacing: 2.1px;
}

#containerSectionPaginaConta {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 25px;
}

.boxSectionsPaginaConta {
    display: flex;

    width: 100%;
    height: 7em;

    padding: 8px;

    margin-top: 3.5em;

    border: 1px solid #35383f;
    border-radius: 25px;

    box-shadow: #00000059 0px 5px 15px;

    transition: 200ms;
}

.boxSectionsPaginaConta:hover {
    cursor: pointer;

    transform: translate(0, -15px);
}

.boxIconeSectionPaginaConta {
    display: flex;

    width: 30%;
    height: 100%;

    justify-content: center;
    align-items: center;
}

.boxTextoSectionPaginaConta {
    display: flex;

    width: 70%;
    height: 100%;

    align-items: center;
    justify-content: center;
}

.textStyleTextoPaginaConta {
    color: white;
    text-align: center;

    font-size: 13px;
}